title = "article"
url = "/article/:slug"
layout = "Teknosob"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "category"

[views]
slug = "{{ :slug }}"
==
{% set post = blogPost.post %}

<ul class="list-inline">
  
  <!-- Menampilkan Category -->
  <li class="list-inline-item"><h6>
    {% if post.categories.count %}
        {% for category in post.categories %}
            <a class=" text-decoration-none link-secondary-color" href="{{ category.slug }}">{{ category.name|capitalize }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
  </h6></li>
  
  <!-- Menampilkan tanggal content di post -->
  <li class="list-inline-item float-right"><p>{{ post.published_at|date('l, d F Y') }}</p></li>
</ul>

<!-- Post Title -->
<h1 class="text-center py-5 px-3">{{ post.title }}</h1>

<!-- Featured Image -->
{% if post.featured_images.count %}
    <div class="featured-images text-center">
    
        <!-- Apabila Featured Image lebih dari satu -->
        {% for image in post.featured_images %}
                <img class="p-1 img-thumbnail"
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description|title }}" />
        {% endfor %}
        
    </div>
{% endif %}

<!-- Post Quote -->
<blockquote class="blockquote">
    <h6 class="py-3 pl-5 small">{{ post.summary }}</h6>
</blockquote>

<!-- Post Content -->
<div class="content text-justify">{{ post.content_html|raw }}</div>

<!-- Post Tags -->
{% if post.tags.count %}
    <ul class="list-inline p-3 text-center">  
        <!-- Menampilkan Tag -->
        {% for tag in post.tags %}
            <li class="list-inline-item p-1">
                <a class="text-reset text-decoration-none" href="{{ tag.slug }}">
                    <span class="px-1 bg-dark">#</span><span class="pl-1 pr-2 background-secondary-color">{{ tag.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% set post = views.post %}

<div class="py-1">Dilihat: {{ views }} kali</div>

{% partial 'social-sharing-button' %}
