title = "article"
url = "/article/:slug?"
layout = "Teknosob"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "cat"

[views]
slug = "{{ :slug }}"

[commentsPost]
==
{% set post = blogPost.post %}

<ul class="list-inline">
  <!-- Menampilkan Category -->
  <li class="list-inline-item"><h6>
    {% if post.categories.count %}
        {% for category in post.categories %}
            <a class=" text-decoration-none link-secondary-color" href="{{ category.url }}">{{ category.name|capitalize }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
  </h6></li>

  <!-- Menampilkan tanggal content di post -->
  <li class="list-inline-item float-right"><p>{{ post.published_at|date('l, d F Y') }}</p></li>
</ul>

<!-- Post Title -->
<h3 class="text-center py-5 px-3">{{ post.title }}</h3>

<!-- Featured Image -->
{% if post.featured_images.count %}
    <div class="featured-images text-center">

        <!-- Apabila Featured Image lebih dari satu -->
        {% for image in post.featured_images %}
                <img class="p-1 img-thumbnail"
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description|title }}" />
        {% endfor %}

    </div>
{% endif %}

<!-- Post Quote -->
<blockquote class="blockquote">
    <h6 class="py-3 pl-5 small">{{ post.summary }}</h6>
</blockquote>

<!-- Post Content -->
<div class="content text-justify">{{ post.content_html|raw }}</div>

<!-- Post Tags -->
{% if post.tags.count %}
    <ul class="list-inline p-3 text-center">
        <!-- Menampilkan Tag -->
        {% for tag in post.tags %}
            <li class="list-inline-item p-1">
                <a class="text-decoration-none" href="{{ tag.slug }}">
                    <span class="px-1 bg-dark">#</span><span class="pl-1 pr-2 background-secondary-color">{{ tag.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% set post = views.post %}


<div class="py-1">Dilihat: {{ views }} kali</div>

{% partial 'social-sharing-button' %}

{% set posts = commentsPost.posts %}

<div class="col-xs-6" id="comments-content">
    {% if(commentsPost.count) > 0 %}
        <h3 class="text-right"><span id="comments-count">{{ commentsPost.count }}</span> comments</h3>
    {% endif %}
    {% if(user or commentsPost.settings.allow_guest) %}

    <div id="wrap-comment-form">
        <div class="row" id="comment-form">

            <h2 class="comment-reply-title">Add comment
                <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                          title="Cancel reply">×</a>
                </small>
            </h2>
            <form>
                <div id="comment_flash_message"></div>

                    <!-- Name Field -->
                    <div class="form-group">
                        <input placeholder="Name" class="form-control" name="author" type="text">
                    </div>

                    <!-- Email Field -->
                    <div class="form-group">
                        <input placeholder="Email" class="form-control" name="email" type="text">
                    </div>
                <!-- Content Field -->
                <div class="form-group">
                    <textarea placeholder="Leave a comment ..." class="form-control" id="comment-text" name="content"
                              cols="50" rows="10"></textarea>
                </div>

                <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">

                {% if (__SELF__.settings.recaptcha_enabled) %}
                <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.site_key }}"></div>
                <br>
                {% endif %}

                <!-- Submit Field -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="Comment.saveButton(event)">Send</button>
                </div>
            </form>
        </div>
    </div>




    {% endif %}
    <div class="comments">
        <ul>
            {% partial "commentsPost::list" posts=posts %}
        </ul>
    </div>
</div>

{% partial 'random-post'  %}

<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->