title = "homepage"
url = "/:page?"
layout = "Teknosob"
meta_title = "Teknosob | Sobat Melek Teknologi"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[slider]

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "cat"
postPage = "article"
==
{% partial "main-slider" %}

{% set posts = blogPosts.posts %}

<ul class="list-group post-list-custom pagination-container">
    {% for post in posts %}
        <li class="list-group-item border-0 pagination-data">
            {% for image in post.featured_images|slice(0,1) %}
                <div class="cp-thumb" onclick="location.href = '{{ post.url }}';"><img src="{{image.path}}" alt=""></div>
            {% endfor %}
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

            <p class="info">
                <!-- Posted -->
                <!-- {% if post.categories.count %} in {% endif %} -->
                {% for category in post.categories %}
                    <!-- <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %} -->
                {% endfor %}
                <!-- on  -->
                {{ post.published_at|date(' d M Y') }}
            </p>

            <p class="excerpt">{{ post.summary|raw }}</p>
        </li>
    {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}
</ul>

<div class="pagination">
    <a class="pagination__next" href="./2.html">Next page</a>
</div>
      
<!-- Infinite Pagination Plugin -->
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script>
/**
 * Infinite Pagination Plugin
 */
var elem = document.querySelector('.pagination-container');
var infScroll = new InfiniteScroll(elem, {
    // options
    path: '.pagination__next',
    append: '.pagination-data',
    prefill: true,
    history: false,
    hideNav: '.pagination',
    status: '.scroller-status',
});
</script>