[searchForm]
resultPage = "search-result"
categoryFilter = 0
==
<?php
function onStart(){
/**
 * Main Menu List
 */
$this['main_menu'] = array(
    array('BERITA', '<i class="far fa-newspaper"></i>', '/'),
    array('IDEA', '<i class="fas fa-shapes"></i>', '/category/idea'),
    array('TUTORIAL', '<i class="fas fa-book-open"></i>', '/category/tutorial'),
    array('HIBURAN', '<i class="fas fa-puzzle-piece"></i>', '/category/game'),
    array('REVIEW', '<i class="fas fa-file-signature"></i>', '/category/review')
    );
}
?>
==
<nav>
<div class="row row-col-1 row-col-lg-3 d-flex px-3">
  <!-- Logo -->
  <ul class="col-12 col-lg-3 list-unstyled justify-content-center justify-content-lg-start order-1 order-lg-1">
    <li>
      {% partial "header--brand" %}
    </li>
  </ul>

  <!-- Menu -->
  <ul class="col-12 col-lg-6 list-unstyled align-self-center text-lg-right order-3 order-lg-2">
    <li class="">
      {% partial "header--menu" %}
    </li>
  </ul>
  
  <!-- Form -->
  <ul class="col-12 col-lg-3 list-unstyled align-self-center order-2 order-lg-3">
    <li>
      {% partial "header--search-form" %}
    </li>
  </ul>

</div>
</nav>