[searchForm]
resultPage = "search-result"
categoryFilter = 0
==
<?php
function onStart(){
/**
 * Main Menu List
 */
$this['main_menu'] = array(
    array('BERITA', '<i class="far fa-newspaper"></i>', '/news'),
    array('IDEA', '<i class="fas fa-shapes"></i>', '/category/idea'),
    array('TUTORIAL', '<i class="fas fa-book-open"></i>', '/category/tutorial'),
    array('HIBURAN', '<i class="fas fa-puzzle-piece"></i>', '/category/game'),
    array('REVIEW', '<i class="fas fa-file-signature"></i>', '/category/review')
    );
}
?>
==
<header class="py-5">

    <!-- Header Logo -->
    <div class="text-center">
        <a href="/" class="text-reset text-decoration-none">
            <img class="col-10 mx-auto py-3" src="{{ "assets/banner.png"|theme }}" alt="" />
        </a>
    </div>

    <form class="" method="GET" action="{{ searchForm.resultPage|page }}">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control border-0 background-secondary-color input-custom" placeholder ="Search" name="searchkey" aria-label="Search" style=" border-top-left-radius: 20px; border-bottom-left-radius: 20px;" autocomplete="off" >

            {% if searchForm.categoryFilter %}
                <select name="cat[]" class="form-control">
                {% for key,cat in searchForm.categories %}
                    <option value="{{ key }}">{{ cat }}</option>
                {% endfor %}
                </select>
            {% endif %}
            <div class="input-group-append">
                <button class="btn btn-link background-secondary-color" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <!-- Search Form -->
    <!-- <form class="">
        <div class="input-group mb-3">
            <input type="text" class="form-control border-0 background-secondary-color input-custom" placeholder ="Search" name="searchkey" aria-label="Search" style=" border-top-left-radius: 20px; border-bottom-left-radius: 20px;" autocomplete="off" />
            <div class="input-group-append">
                <button class="btn btn-link background-secondary-color" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form> -->

    <!-- Main Navigation -->
    <div class="horizontal-scroll" id="top">
        <ul class="list-inline">
            <h1>
                {% for menu in main_menu %}
                <li class="list-inline-item px-1 text-center">
                    <a href="{{ menu['2'] }}" class="text-decoration-none">
                        {{ menu['1']|raw }}<br/><h6>{{ menu['0'] }}</h6>
                    </a>
                </li>
                {% endfor %}
            </h1>
        </ul>
    </div>

</header>