[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "cat"
postPage = "article"
==
{% set posts = blogPosts.posts %}

<!-- Random Post -->
<ul class="list-inline text-nowrap overflow-auto my-2">

  {% for post in posts %}

    <li class="list-inline-item">
    <a class="" href="{{ post.url }}">
      <ul class="list-group list-group-horizontal-lg bg-transparent">
        <!-- Post Image -->
        {% for image in post.featured_images|slice(0,1) %}
          <li class="list-group-item bg-transparent">
            <img class="img img-thumbnail img-fluid rounded" src="{{image.path}}" alt="" style="width: 200px;"/>
          </li>
        {% endfor %}

        <!-- Post Title -->
        <li class="list-group-item bg-transparent">
          <h5 class="">
            {{ post.title|title }}
          </h5>
        </li>
      </ul>
    </a>
    </li>

  {% endfor %}

</ul>