[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "cat"
postPage = "article"
==
{% set posts = blogPosts.posts %}

<ul class="list-group background-primary-color">
    {% for post in posts %}
        <li class="list-group-item background-primary-color border-0">
            
            <!-- Post Image -->
            {% for image in post.featured_images|slice(0,1) %}
                <a class="col-3 float-left" href="{{ post.url }}">
                    <img class="img img-thumbnail img-fluid rounded" src="{{image.path}}" alt="">
                </a>
            {% endfor %}
            
            <!-- Post Title -->
            <h4 class="py-1"><a href="{{ post.url }}">{{ post.title|title }}</a></h4>
            
            <!-- Post Date -->
            <p class="text-right py-1">{{ post.published_at|date(' d M Y') }}</p>
            
        </li>
    {% endfor %}
</ul>