.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.btn.btn-default{
    background-color:#4BCFFA;
    color:#000;
    border:none;
}

#login-page .col-md-6{
    margin-bottom:40px ;
}
.carousel-inner {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    min-height: 200px;;
}

#countdown{
    color:#4BCFFA;
}

.post-list-custom .cp-thumb img{
    width: 100%;
}

.post-list-custom .list-group-item{
    background-color:rgba(0, 0, 0, 0);
}

.post-list-custom .list-group-item h4 a{
    color:#fff;
    font-size:16px;
}

.post-list-custom .list-group-item .info{
    text-align: right;
}

.main-slider .slider-item{
    position: relative;
}

.main-slider .slider-item img{
    width: 100%;
}
.main-slider .slider-item div{
    width:100%;
}

.main-slider .slider-item .thumb{
    height: 250px;
}

.main-slider .slider-item .title{
    position: absolute;
    bottom: -4px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
.main-slider .slider-item .title h4{
    font-size:19px;
    color: #0984e3;
}
.main-slider .slider-item .title h4 a{
    color: white;
}

.main-slider .slider-item .title p a{
    color:#4BCFFA;
}

.status-infinite{
    display: none;;
}



@media (min-width: 1200px){
    /* force to mobile */
    .container{
        width:437px !important;
    }
}

@media (min-width: 767px){
    .main-slider .slider-item .thumb{
        height: 300px;
    }
}