.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.btn.btn-default{
    background-color:#4BCFFA;
    color:#000;
    border:none;
}

#login-page .col-md-6{
    margin-bottom:40px ;
}
.carousel-inner {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    min-height: 200px;;
}

#countdown{
    color:#4BCFFA;
}