[session]
security = "all"
==
<?php
function onStart()
{
    $this->addCss('assets/css/style.css');
    $this->addCss('assets/css/link.css');
    $this->addCss('assets/css/input.css');
    $this->addCss('assets/css/text.css');
    $this->addCss('assets/css/background.css');

    }
?>
==
{% component 'session' %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- HTML5 validation-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SEO -->
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">

    <!-- site information -->
    <title>{{ this.page.meta_title|upper }}</title>

    <!-- External Recource -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {%styles%}


</head>
<body class="background-primary-color text-primary-color">
    <div class="container" id="top">

        <!-- header -->
        {% partial "header" %}

        <!-- Page -->
        {% page %}

        <!-- Footer -->
        {% partial "footer" %}

        <!-- Scroll to top -->
        {% partial "scroll-to-top" %}

    </div>
    {% framework extras %}
    {%scripts%}
</body>
</html>